// Base styles.

@import "config";

body {
  background: url(images/noise.png) repeat;
  color: #666;
  font: {
    size: 14px;
    family: $font-default;
    weight: normal;
  }
}

#content {

}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin-left: 0;
}