// Base styles.

@import "config";

body {
  background: url(images/noise.png) repeat;
  color: #666;
  font: {
    size: 14px;
    family: $font-default;
    weight: normal;
  }
}

#content {

}

a, a:active, a:visited {
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: $color-link + #224;
  }
}

ul {
  margin-left: 0;
}