// Variables and configuration.

$site-width: 960px;

$color-prim: #859FB8;
$color-prim-light: #A1AFBD;
$color-sec: #C0AD6B;
$color-sec-light: #BFB494;
$color-ter: #ADDECC;
$color-ter-dark: $color-ter - #444;
$color-link: #748EA7;

$font-raleway: "Raleway", sans-serif;
$font-gothic: "Century Gothic", Verdana, Helvetica, Arial, sans-serif;
$font-default: "PT Sans", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
$font-georgia: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
$font-arial-narrow: "Arial Narrow", "Arial", sans-serif;
$font-monospaced: Inconsolata, "Andale Mono", "Courier New", "Courier", monospace;
