// Footer styles.

@import "config";
@import "mixins";

footer {
  color: #666;
  margin: 0 auto 100px;
  padding: 0 40px;
  width: $site-width;
  position: relative;
}

#footer-pic-thumb {
  @include transition(all 200ms linear);
  float: left;
  margin: 0 10px 5px 0;
  margin: -60px 0 0 30px;
  cursor: pointer;
  &:hover {
    @include rotate(-5deg);
  }
}

#footer-me {
  @include text-shadow(0 -1px 1px rgba(255, 255, 255, 0.6));
  display: block;
  color: #666;
  line-height: 24px;
  width: 320px;
  float: left;
  &:hover {
    color: #777;
    strong { text-decoration: underline; }
  }
}

#footer-meta {
  float: right;
  padding: 0 40px 0 40px;
  border-left: 1px solid rgba(64, 64, 64, 0.2);
  text-align: center;
}

#copyright {
  font-family: $font-gothic;
  font-size: 11px;
  color: #999;
  margin-top: 9px;
}

#elsewhere {
  list-style: none;
  margin: 0;
  li {
    float: right;
    margin-left: 8px;
    img {
      @include border-radius(8px);
      width: 32px;
      &:hover {
        @include box-shadow(0 0 8px $color-sec);
      }
    }
  }
}
