// Layout styles.

@import "config";
@import "mixins";

header#site-header {
  width: 100%;

  #header-content {
    width: $site-width;
    margin: 0 auto;
  }
}

#content {
  width: $site-width;
  margin: 100px auto 40px;
}

#alpha {
  @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
  @include border-radius(5px);
  background: rgba(255, 255, 255, 0.3);
  width: 680px;
  float: left;
}

#beta {
  width: 960px - 680px - 40px;
  float: right;
  font-family: $font-gothic;
  li {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
  }
}

footer {
  width: $site-width;
  margin: 0 auto;
}
